.tmp*
lock.mdb
.config/zed/*
!.config/zed/themes
!.config/zed/*.json
.config/opencode/opencode.json
.p10k.zsh.swp
.codex
.pi/*
!.pi/agent
.pi/agent/*
!.pi/agent/settings.json
!.pi/agent/keybindings.json
!.pi/agent/extensions
.env
